<style>
        h1{
            color: yellowgreen;
        }
        p{
            color: brown;
            background-color: orange;
        }
        h2{
            color: yellow;
        }
    </style>